<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Answers</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle"><p>Answers view goes here.</p></div>
  </section>
</body>
</html>
